* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-image: url("../images/hero-images/20240324_183903.jpg");
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}

.nav-box {
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid blue;
}

.overlay {
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8)
  );
}

main {
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.hero {
  width: 100%;
  height: calc(40vh - 60px);
  position: relative;
  display: flex;
}

.hero > header {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 2rem;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
}

.lead {
  color: rgb(174, 174, 174);
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

header > :nth-child(3) {
  /* color: white; */
  color: rgb(174, 174, 174);
  font-family: "raleway", sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
  text-transform: capitalize;
  /* padding-top: 0.8rem; */
}

.late {
  border-right: 25px solid transparent;
  border-bottom: 40px solid blue;
  max-height: 100px;
  width: 170px;
  /* margin-top: 50px; */
  margin: 0.5em 2em;
  position: relative;
}

.late-music {
  margin-top: 19px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "raleway", sans-serif;
  text-transform: uppercase;
  color: whitesmoke;
}

.recent div {
  border-right: 25px solid transparent;
  border-bottom: 40px solid blue;
  height: 0;
  width: 180px;
}

.recent h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: whitesmoke;
  width: fit-content;
  padding: 0.7rem;
}

.recent ul {
  margin: 0.8em 0 0 1em;
  color: white;
}

.recent ul > li {
  padding-bottom: 0.6rem;
}

.recent-items {
  font-family: "poppins", sans-serif;
  font-size: small;
  color: whitesmoke;
  text-decoration: none;
}

.music-sec ul {
  list-style-type: none;
}

.music-data {
  position: relative;
  flex-basis: 1px;
  height: 20vh;
}

/* .image-box {
  position: relative;
} */

/* .box {
  width: 100%;
  margin: 0 auto;
} */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song {
  align-self: flex-end;
}

.details {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 0 0 0.5em 0.5em;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: capitalize;
  background-image: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
}

.next-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.next {
  color: whitesmoke;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
  font-size: small;
}

/* media queries for 162px screen */

@media screen and (min-width: 162px) {
  .music-sec ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.6em;
    padding: 0.5em 0.5em;
  }

  .hero {
    height: calc(30vh - 60px);
  }

  .hero > header {
    padding-inline: 1rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  .lead {
    font-size: 0.6rem;
  }

  .late {
    border-right: 25px solid transparent;
    border-bottom: 35px solid blue;
    width: 100px;
    margin: 0em 0.52em;
  }

  .late-music {
    margin-top: 9px;
    font-size: 0.85rem;
    padding: 0.65rem;
  }

  .recent-page {
    margin-left: 0.4em;
    margin-block: 2em;
  }

  .recent-page :nth-child(2) > div {
    width: 150px;
  }

  .recent div {
    border-right: 25px solid transparent;
    border-bottom: 30px solid blue;
    height: 0;
    width: 140px;
  }

  .recent h2 {
    font-size: 0.8rem;
    font-weight: 500;
    width: fit-content;
    padding: 0.45rem;
  }

  .recent {
    margin-bottom: 0.6em;
  }

  .recent ul {
    margin: 0.8em 0 0 1em;
  }

  .recent ul > li {
    padding-bottom: 0.2rem;
  }

  .recent-items {
    font-size: 0.6rem;
  }
}

/* media queries for 320px screen */

@media screen and (min-width: 320px) {
  .hero {
    height: calc(34vh - 60px);
  }

  h1 {
    font-size: 1.7rem;
  }

  .lead {
    font-size: 0.8rem;
  }

  .late {
    border-right: 25px solid transparent;
    border-bottom: 35px solid blue;
    width: 100px;
  }

  .late-music {
    font-size: 0.9rem;
  }

  .music-sec ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6em;
    padding: 0.5em 0.5em;
  }

  .recent-page {
    margin-left: 0.45em;
    margin-block: 2em;
  }

  .recent-page :nth-child(2) > div {
    width: 163px;
  }

  .recent div {
    border-right: 25px solid transparent;
    border-bottom: 35px solid blue;
    height: 0;
    width: 147px;
  }

  .recent h2 {
    font-size: 0.85rem;
    font-weight: 500;
    width: fit-content;
    padding: 0.65rem;
  }

  .recent-items {
    font-size: 0.7rem;
  }
}

/* media queries for 600px screen */
@media screen and (min-width: 600px) {
  .music-sec {
    margin-inline: 1em;
  }

  .late {
    margin: 0em 1.5em;
  }

  .late-music {
    font-size: 0.9rem;
  }

  .recent-page {
    margin: 2em 0 2em 1.4em;
  }

  .recent-page :nth-child(2) > div {
    width: 170px;
  }

  .recent div {
    width: 155px;
  }

  .recent h2 {
    font-size: 0.9rem;
    padding: 0.55rem;
  }

  .recent-items {
    font-size: 0.75rem;
  }
}

/* media queries for 650px screen */

@media screen and (min-width: 650px) {
  main > :nth-child(2) {
    display: flex;
  }

  .late {
    margin: 0em 0.47em;
  }

  .music-sec {
    flex-basis: 50%;
    margin-left: 0;
  }

  .music-sec ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6;
    padding: 0.5em 0.5em;
  }

  .recent-page {
    flex-basis: 50%;
    margin-top: 0.5em;
    margin-left: 0;
  }

  .recent-page :nth-child(2) > div {
    width: 154px;
  }

  .recent div {
    /* display: flex;
    justify-content: center; */
    width: 139px;
    border-bottom: 32px solid blue;
  }

  .recent h2 {
    font-size: 0.8rem;
    font-weight: 500;
    width: fit-content;
    padding: 0.55rem;
  }

  .recent-items {
    font-size: 0.65rem;
  }
}

/* media queries for 700px screen */

@media screen and (min-width: 700px) {
    .late {
    margin: 0em 0.46em;
  }
  
  .recent div {
    width: 140px;
  }

  .recent h2 {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .recent-items {
    font-size: 0.65rem;
  }
}

/* media queries for 1024px screen */

@media screen and (min-width: 1024px) {
  .music-sec {
    margin-inline: 1.5em;
  }

  .hero {
    height: calc(40vh - 60px);
  }

  .hero > header {
    padding-left: 2rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  .lead {
    font-size: 0.8rem;
  }

  header > :nth-child(3) {
    font-size: 0.5rem;
  }

  .late {
    border-right: 25px solid transparent;
    margin: 0.5em 2em;
  }

  .late-music {
  margin-top: 7px;
  font-size: 1.2rem;
}

  .recent-page :nth-child(2) > div {
    width: 167px;
  }

  .recent-page {
    margin-left: 1.5em;
  }

  .recent div {
    border-right: 25px solid transparent;
    border-bottom: 34px solid blue;
    height: 0;
    width: 147px;
  }

  .recent h2 {
    font-size: 0.85rem;
    font-weight: 500;
    width: fit-content;
    padding: 0.6rem;
  }

  .recent-items {
    font-size: 0.8rem;
  }

  .recent ul > li {
    padding-bottom: 0.7rem;
  }
}
