* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 8, 29);
  border-radius: 6px;
}

main {
  /* background: linear-gradient(
    to top,
    rgba(0, 8, 29, 1),
    rgba(0, 8, 29, 0.9),
    rgba(0, 0, 0, 0.9)
  ); */
  /* background-color: rgb(0, 5, 19); */
  background-color: rgb(0, 0, 0);
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0%;
  padding: 1rem 2.5rem 0.2rem 2rem;
  /* backdrop-filter: blur(5px); */
  /* border-bottom: 1px solid rgb(119, 119, 119); */
  position: sticky;
  z-index: 100;
  height: 60px;
  /* background: linear-gradient(to right, rgba(0, 8, 29, 1), black, rgba(0, 8, 29, 1)); */
  /* background-color: rgb(0, 0, 0); */
}

.nav-btn {
  width: 40px;
  height: 30px;
  z-index: 100;
}

.logo-box {
  width: 40px;
}

.bar {
  margin: 0.4rem;
  background-color: whitesmoke;
  height: 1.3px;
  border-radius: 20%;
}

.one {
  width: 90%;
}

.two {
  width: 80%;
}

.three {
  width: 90%;
}

.four {
  width: 70%;
}

.search-circle {
  background-color: whitesmoke;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.search-icon {
  display: flex;
  user-select: none;
  cursor: pointer;
  color: black;
  z-index: 100;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.search-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  /* display: none; */
  transform: translateX(-100%);
  top: 0;
  z-index: 40;
}

.search-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: black;
  height: 100%;
  width: 21%;
  z-index: 90;
}

.nav {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  /* display: flex; */
  /* display: none; */
  transform: translateX(-100%);
  top: 0;
  z-index: 40;
}

.order {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.5rem;
  z-index: 90;
  background-color: black;
  /* background-color: rgb(0, 5, 19); */
  /* background: linear-gradient(to bottom, black, rgba(0, 8, 29, 1), black); */
  height: 100%;
  width: 16%;
  padding-top: 5rem;
  overflow-y: scroll;
}

.order::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none
}

.slider-open {
  animation: open 500ms ease-in-out forwards;
}

.slider-close {
  animation: close 500ms ease-in-out forwards;
}

@keyframes open {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes close {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.slider-open-nav {
  animation: opennav 500ms ease-in-out forwards;
}

.slider-close-nav {
  animation: closenav 500ms ease-in-out forwards;
}

@keyframes opennav {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes closenav {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.navlist > .navlink {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.listers {
  /* display: none; */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
}

.listers.show {
  display: block;
  max-height: 150px; /* Adjust this value to fit your content */
  opacity: 1;
}

.navlist {
  transition: transform 0.5s ease; /* Add transition for transform property */
}

.rotate {
  transform: rotateX(180deg);
}

.list-icon {
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  /* z-index: 1; */
  padding: 15px 8px;
  line-height: 19px;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  transition: transform 0.3s ease;
}

.navlist > ul .navlink {
  font-weight: 500;
  font-size: 0.8rem;
  /* padding: 1em 1em 1em 3em; */
}

.sub {
  margin-bottom: 2em;
}

.subscribe {
  margin-inline-start: 1rem;
  margin-inline-end: 8rem;
  margin-block: 0.6rem;
}

.navlink {
  display: block;
  /* padding: 1em 1em 1em 2.3em; */
  text-decoration: none;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 0.9rem;
  color: whitesmoke;
  transition: 500ms;
}

.navlink:hover {
  background-color: blue;
}

footer {
  height: 30px;
  /* background: rgb(0, 8, 29); */
  background: rgb(0, 0, 0);
  border-top: 1px solid blue;
  padding: 0.4em 0 0 1em;
  z-index: 100;
  position: sticky;
  bottom: 0;
}

small {
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-size: 11px;
}

@media screen and (min-width: 162px) {
  .nav-box {
    padding: 0.6rem;
  }

  .nav-btn {
    width: 25px;
    height: 15px;
  }

  .bar {
    margin: 0.2rem;
    height: 1px;
    border-radius: 20%;
  }

  .search-circle {
    height: 28px;
    width: 28px;
  }

  .search-box {
    width: 73%;
  }

  .order {
    width: 73%;
  }

  .list-icon {
    font-size: 15px;
    padding: 4px 20px;
  }

  .navlist > ul .navlink {
    font-weight: 400;
    font-size: 0.55rem;
    padding: 0.7em 0.7em 0.7em 0.7em;
  }

  .navlink {
    padding: 0.7em 0.7em 0.7em 0.7em;
    font-weight: 700;
    font-size: 0.65rem;
  }

  .subscribe {
    margin-inline-start: 0.5rem;
    margin-inline-end: 3.5rem;
  }
}

@media screen and (min-width: 320px) {
  .nav-box {
    padding: 0.7rem;
    z-index: 100;
  }

  .nav-btn {
    width: 25px;
    height: 15px;
  }

  .bar {
    margin: 0.2rem;
    height: 1px;
    border-radius: 20%;
  }

  .search-circle {
    height: 28px;
    width: 28px;
  }

  .search-box {
    width: 70%;
  }

  .order {
    width: 70%;
  }

  .list-icon {
    font-size: 19px;
    padding: 8px 20px;
  }

  .navlist > ul .navlink {
    font-weight: 500;
    font-size: 0.77rem;
    padding: 0.7em 0.7em 0.7em 1.5em;
  }

  .navlink {
    padding: 0.7em 0.7em 0.7em 1em;
    font-weight: 600;
    font-size: 0.85rem;
  }

  .subscribe {
    margin-inline-start: 1rem;
    margin-inline-end: 7.2rem;
  }
}

@media screen and (min-width: 375px) {
  .nav-btn {
    width: 27px;
    height: 17px;
  }

  .bar {
    margin: 0.2rem;
    height: 1px;
    border-radius: 20%;
  }

  .search-circle {
    height: 30px;
    width: 30px;
  }

  .search-box {
    width: 60%;
  }

  .order {
    width: 60%;
  }
}

@media screen and (min-width: 425px) {
  .nav-box {
    padding: 0.8rem;
    z-index: 100;
  }

  .nav-btn {
    width: 29px;
    height: 19px;
  }

  .search-circle {
    height: 32px;
    width: 32px;
  }

  .search-box {
    width: 53%;
  }

  .order {
    width: 53%;
  }

  .navlist > ul .navlink {
    font-weight: 500;
    font-size: 0.77rem;
    padding: 0.7em 0.7em 0.7em 1.7em;
  }

  .navlink {
    padding: 0.7em 0.7em 0.7em 1.2em;
    font-weight: 600;
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 500px) {
  .nav-box {
    padding: 0.9rem;
    z-index: 100;
  }

  .nav-btn {
    width: 31px;
    height: 21px;
  }

  .search-circle {
    height: 33px;
    width: 33px;
  }

  .search-box {
    width: 45%;
  }

  .order {
    width: 45%;
  }

  .list-icon {
    font-size: 19px;
    padding: 8px 20px;
  }

  .navlist > ul .navlink {
    font-weight: 500;
    font-size: 0.77rem;
    padding: 0.7em 0.7em 0.7em 1.8em;
  }

  .navlink {
    padding: 0.7em 0.7em 0.7em 1.3em;
    font-weight: 600;
    font-size: 0.85rem;
  }

  .subscribe {
    margin-inline-start: 0.8rem;
    margin-inline-end: 7rem;
  }
}

@media screen and (min-width: 500px) {
  .subscribe {
    margin-inline-end: 8.5rem;
  }
}

@media screen and (min-width: 600px) {
  .subscribe {
    margin-inline-start: 0.8rem;
    margin-inline-end: 7.5rem;
  }

  .search-box {
    width: 40%;
  }

  .order {
    width: 40%;
  }
}

@media screen and (min-width: 700px) {
  .subscribe {
    margin-inline-end: 8.5rem;
  }

  .search-box {
    width: 37%;
  }

  .order {
    width: 37%;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin-inline-end: 8rem;
  }

  .nav-btn {
    width: 31px;
    height: 21px;
  }

  .search-circle {
    height: 33px;
    width: 33px;
  }

  .search-box {
    width: 32%;
  }

  .order {
    width: 32%;
  }

  .list-icon {
    font-size: 18px;
    padding: 8px 20px;
  }

  .navlist > ul .navlink {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.7em 0.7em 0.7em 1.5em;
  }

  .navlink {
    padding: 0.7em 0.7em 0.7em 1em;
    font-weight: 600;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .subscribe {
    margin-inline-end: 9rem;
  }

  .search-box {
    width: 25%;
  }

  .order {
    width: 25%;
  }

  .list-icon {
    font-size: 18px;
    padding: 8px 20px;
  }

  .navlist > ul .navlink {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.7em 0.7em 0.7em 1.5em;
  }

  .navlink {
    padding: 0.7em 0.7em 0.7em 1em;
    font-weight: 600;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1250px) {
  .search-box {
    width: 20%;
  }

  .order {
    width: 20%;
  }
}
